<div class="about">
  <div class="about-inner">
    <div class="container">
      <div class="about-wrapper">
        <div class="about-box">
          <div class="about-title">
            About
          </div>
          <div class="about-sentence">
            名前のとおり、音声の入力のみでコーディングを行う。<br>
            VoiceCodingは手入力以外の入力により、プログラムがかけたらいいなという希望から開発が始まった。<br>
          </div>
        </div>

        <div class="about-box">
          <div class="about-title">
            Ideal
          </div>
          <div class="about-sentence">
            人間はひとつの事柄を様々な言葉で表現することができる。<br>
            よって、人によって音声入力の仕方は様々であることは自明である。<br>
            どのような表現でも同じ意味と認識させ、プログラミングができればいいと思っている。<br>
            また、プログラム入力中にAIと会話することで、他者と一緒にプログラミングを
            しているようになったら面白いんじゃないかと思う。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
