<div class="about_box">
  <div class="about">
    <div　class="about_title">
      About
    </div>
    <div class="about_sentence">
      名前のとおり、音声の入力のみでコーディングを行う。<br>
      VoiceCodingは手入力以外の入力により、プログラムがかけたらいいなという希望から開発が始まった。<br>
    </div>
  </div>

  <div class="ideal">
    <div class="ideal_title">
      Ideal
    </div>
    <div class="ideal_sentence">
      人間はひとつの事柄を様々な言葉で表現することができる。<br>
      よって、人によって音声入力の仕方は様々であることは自明である。<br>
      どのような表現でも同じ意味と認識させ、プログラミングができればいいと思っている。<br>
      また、プログラム入力中にAIと会話することで、他者と一緒にプログラミングを
      しているようになったら面白いんじゃないかと思う。
    </div>
  </div>
</div>
