<div class="home">
  <div class="home-inner">
    <div class="container">
      <div class="home-wrapper">
        <div class="home-logo">VoiceCoding</div>
        <div class="home-sub">キーボードのないコーディングを体験しよう</div>
        <div class="signup_btn">
          <input type="button" value="サインアップ" onClick="location.href='<%=signup_path%>'"  class="btn btn-primary">
        </div>
      </div>
    </div>
  </div>
</div>
