<div class="home">
  <p class="home-logo">VoiceCoding</P>
  <p class="home-sub">キーボードのないコーディングを体験しよう</p>
  <input type="button" value="サインアップ" onClick="location.href='<%=signup_path%>'"  class="home-sub btn btn-primary">
</div>
