<div class="home">
  <p class="home-logo">VoiceCoding</P>
  <p class="home-sub">キーボードのないコーディングを体験しよう</p>
  <div class="signup_btn">
    <input type="button" value="サインアップ" onClick="location.href='<%=signup_path%>'"  class="home-sub btn btn-primary">
  </div>
</div>
