@import "bootstrap";
@import "bootstrap-sprockets";

body{
  margin: 0px;
}

/*ヘッダーの設定*/
header{
  height: 40px;
  background-color: #000;
  right: auto;
  color: #fff;
}

.header-logo{
  vertical-align: middle;
  font-size: 30px;
  float: left;
}

.header-link{
  color: #fff;
  text-decoration: none;
}

.header-list{
  margin-top: 13px;
  margin-right: 10px;
  vertical-align: middle;
  float: right;
}

.header-list ul{
  margin: 0px;
}

.header-list ul li{
  vertical-align: middle;
  list-style: none;
  font-size: 15px;
  margin-left: 10px;
  float: left;
}

/*home*/
.img-test {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block; /* これは文字 */
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(60%);
}

.home-logo{
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.home-sub{
  font-size: 20px;
}

.home{
  margin-top: 100px;
  margin-bottom: 190px;
  position: relative;
  text-align: center;
  vertical-align: center;
  color:#fff;
}

.signup_btn .btn{
  display:inline-block;
  margin:6px;
  font-size:inherit;
  line-height:1.42;
  padding:0.6em 1.6em;
  font-weight:normal;
  border-width:2px;
  border-style:solid;
  background:transparent;
  border-radius:1.46em;
  cursor:pointer;
  font-family:"Booster Next FY", "Avenir Next", Avenir, sans-serif;user-select:none;
  vertical-align:bottom;
  position:relative;
  border-style:solid;
  overflow:hidden;
  transition:background-color 0.5s, color 0.3s;
}

.signup_btn .btn:hover:after{
  transform:scaleX(1);
  opacity:1;
  transition:transform 0.3s, opacity 0.3s;
}

.signup_btn .btn:after{
  content:'';
  display:block;
  position:absolute;top:0;
  left:0;height:100%;
  width:100%;
  z-index:-1;
  border-radius:1.46em;
  transform:scaleX(0.7);
  opacity:0;
  transition:transform 0.8s, opacity 0.3s;
}

/*何もしていない状態*/
.signup_btn .btn-primary{
  color: #fff;
  border-color: #fff;
}

/*マウスを載せた時の色*/
.signup_btn .btn-primary:hover{
  color:#585858;
  background-color:#fff;
}

/*マウスをクリックした時*/
.signup_btn .btn-primary:active{
  color:#fff;
  background-color:#585858;
}

.signup_btn .btn-primary:active:after{
  background-color:#fff
}

.signup_btn .btn-primary:after{
  background-color:#fff;
}

/*About*/

.about_box{
  margin-top: 50px;
  margin-bottom: 40px;
  color: #fff;
}

.about{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.about_title{
}

.about_sentence{
  margin: auto;
  width: 70%;
  text-align: center;
}

.ideal{
  color: #fff;
  text-align: center;
  margin-bottom: 170px;
}

.ideal_title{
  font-size: 30px;
  margin-bottom: 30px;
}

.ideal_sentence{
  margin: auto;
  width: 70%;
  text-align: center;
}

/*signup*/

.signup-title{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
}

label{
  display: inline-block;
  width: 100px;
  text-align: right;
  color: #fff;
}

form{
  padding-left: 100px;
  padding-top: 60px;
}

input{
  boder: 1px solid #bbb;
  width: 60%;
  height: 20px;
  margin-bottom: 50px;
  background-color: rgba(0,0,0,0);
  color: #fff;
}


.button{
  margin-left: 104px;
  margin-bottom: 70px;
}

/*footer*/
footer{
  color: #fff;
  width: 100%;
  height: 80px;
  background-color: #000;
  vertical-align: middle;
}

.footer_logo{
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  font-size: 25px;
}

.footer_logo a{
  color: #fff;
}

.footer_list{
  margin-right: 10px;
}

.footer_list ul{
  float: right;
}

.footer_list ul li{
  list-style: none;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}
