<footer>
  <div class="footer_logo">
    <%=link_to "VoiceCoding", root_path %>
  </div>
  <div class="footer_list">
    <ul>
      <li>作成者：今村圭佑</li>
      <li>メールアドレス：taicho.nv@gmail.com</li>
    </ul>
  </div>
</footer>
