<footer>
  <div class="container">
    <div class="footer-logo">
      <%=link_to "VoiceCoding", root_path %>
    </div>
    <div class="footer-list">
      <p>作成者：今村圭佑</p>
      <p>メールアドレス：taicho.nv@gmail.com</p>
    </div>
  </div>
</footer>
